.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 15px 40px;
  margin-top: 20px;
  transition: background 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* border: 0.5px solid rgb(212, 211, 211); */
}

.btn:hover {
  background-color: transparent;
}

.btn--pink {
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: #000;
}

.btn--pink:hover {
  background: #fff;
}

.section__btn {
  margin-left: -4px;
  margin-top: 10%;
  margin-bottom: 4%;
}

#viewusersurveybtn {
  margin-top: 10%;
  margin-bottom: 4%;
  background: #4267b2;
  color: #fff;
}

@media (max-width: 67px) {
  .btn {
    font-size: 16px;
    padding: 8px 27px 7px;
  }
}
