*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/* ----- Nav -----*/

.nav.animated-in {
  opacity: 1;
  visibility: visible;
}

.nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.nav li {
  display: inline-block;
  opacity: 0.2;
  visibility: hidden;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  transition: opacity 0.7s, visibility 0.7s, transform 0.7s,
    -webkit-transform 0.7s;
}

.nav li.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nav li:last-child {
  transition-delay: 0.4s;
}

.nav li:nth-last-child(1) {
  transition-delay: 0.45s;
}

.nav li:nth-last-child(2) {
  transition-delay: 0.55s;
}

.nav li:nth-last-child(3) {
  transition-delay: 0.65s;
}

.nav li:nth-last-child(4) {
  transition-delay: 0.75s;
}

.nav li + li {
  margin-left: 46px;
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.1s, visibility 0.1s;
  }
  .nav.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .nav ul {
    display: block;
    margin: 0 15px;
  }
  .nav li {
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .nav li + li {
    margin-left: 0;
    margin-top: 11px;
  }
}

/* ----- Section -----*/

.section {
  padding: 100px 0;
  /* padding: 200px 0 61px; */
  min-height: 100vh;
}

.section .section__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ----- Body ------*/

body {
  min-width: 320px;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #000;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

h3 {
  font-size: 36px;
  letter-spacing: -0.032em;
  line-height: 50px;
}

h4 {
  font-size: 36px;
  letter-spacing: -0.055em;
}

@media (max-width: 767px) {
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 36px;
  }
}

blockquote:last-child {
  margin-bottom: 0;
}

.visible-xs-block {
  display: none;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs-block {
    display: block !important;
  }
}

/* ----- Header -----*/

.header {
  /* background: rgba(0, 0, 0, 0.85); */
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  z-index: 10;
  /* visibility: hidden; */
}

.header .header__nav {
  padding: 60px 53px 45px 0;
  text-align: right;
  transition: padding-top 0.3s, padding-bottom 0.3s, opacity 0.5s,
    visibility 0.5s, margin-top 0.3s;
}

.header .header__nav {
  padding-top: 35px;
  padding-bottom: 25px;
}

.header .logo {
  margin-top: 0;
}

@media (max-width: 767px) {
  .header .header__nav {
    padding: 0 20px 0;
    margin-top: 0x;
  }
  .header .logo {
    margin-top: 0;
    position: static;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .header {
    padding: 18px 0;
    transition: padding 0.3s;
  }
  .header.fixed {
    padding: 1px 0;
  }
  .header .header__nav {
    padding-top: 0;
    margin-top: 0;
  }
}

@media (max-width: 414px) {
  .header .header__nav {
    padding: 0 20px 0;
    margin-top: 0x;
    visibility: hidden;
  }
  .header .logo {
    margin-top: 0;
    position: static;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .header {
    padding: 20px 0;
    transition: padding 0.3s;
  }
  .header.fixed {
    padding: 13px 0;
  }
  .header .header__nav {
    padding-top: 0;
    margin-top: 0;
  }
  .nav a {
    color: #000;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: lighter;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

/* ------------------------------------------------------------ *\
	Keyframes
\* ------------------------------------------------------------ */

@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

/* Standard syntax */

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

.shell {
  max-width: 1190px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

 .shell-fluid {
  max-width: none;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

/* ------------------------------------------------
-------------------------------------------------
-------------------------- Button -----------
------------------------------------------------------
----------------------------------------------------*/

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 15px 40px;
  margin-top: 20px;
  transition: background 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:hover {
  background-color: transparent;
}

.btn--blk {
  background: #000;
}

.btn--blk:hover {
  background: #4e3eb1;
}

.btn--blue {
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.btn--blue:hover {
  background: #f5f5f5;
}

.btn--blue2 {
  background: white;
  color: black;
}

.btn--blue2:hover {
  background: #4e3eb1;
  color: white;
}

.btn--pink2 {
  background: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: white;
}

.btn--pink2:hover {
  background: #f5f5f5;
}

.btn--pink {
  background: #f07e81;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.btn--pink:hover {
  background: #333333;
}

.btn--white {
  color: #4dd6fe;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.btn--black {
  color: #000;
  background: #000000;
}

.btn--white:hover {
  background: #eee;
}

@media (max-width: 67px) {
  .btn {
    font-size: 16px;
    padding: 8px 27px 7px;
  }
}

/* ----- Button -----*/

.burger-menu {
  display: none;
  width: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 31px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  transition-delay: 0.25s;
}

.burger-menu.animated-in {
  opacity: 1;
  visibility: visible;
}

.burger-menu.active span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.burger-menu span {
  position: relative;
  display: block;
  height: 3px;
  top: 0;
  background: #000;
  transition: 0.3s;
}

.burger-menu span + span {
  margin-top: 4px;
}

@media (max-width: 767px) {
  .burger-menu {
    display: block;
  }
}

/* ----- Intro -----*/

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro {
  height: 100vh;
  min-height: 480px;
  font-size: 40px;
  position: relative;
  color: #fff;
  background: #fff;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  -ms-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

h1,
h6 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  /* font-weight:; */
  text-align: center;
  top: 45%;
  right: 0;
  left: 0;
}

.intro .intro__content {
  position: absolute;
  left: 50%;
  font-size: 18px;
  width: 1000px;
  top: 400px;
}
.intro .intro__content p {
  position: absolute;
  text-align: left;
  letter-spacing: -0.02em;
  font-size: 55px;
  margin-top: -30px;
  margin-left: -356px;
  width: 1000px;
  line-height: 60px;
  top: -55px;
  color: #000000;
  padding-left: 5px;
}

.intro .intro__link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-delay: 3s;
}
.intro__link img {
  width: 25px;
  height: 14px;
}
.intro .intro__link i {
  position: relative;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 2s infinite;
}
.intro .animated {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s,
    -webkit-transform 0.5s;
}
.intro.animated-in .intro__link {
  opacity: 1;
  visibility: visible;
}

strong,
b {
  font-weight: 900;
}

.intro p.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.intro p.animated {
  transition-delay: 1.2s !important;
  transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s, -webkit-transform 1s;
}
.intro h2.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(50);
  -ms-transform: translateY(0);
  transform: translateY(50);
  transition-delay: 0.6s;
  transition-duration: 2s;
}
.intro h4.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(50);
  -ms-transform: translateY(0);
  transform: translateY(50);
  transition-delay: 0.6s;
  transition-duration: 2s;
}
@media (max-width: 767px) {
  .intro .intro__content {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 0;
    max-width: 400px;
  }

  .intro .animated {
    transition-delay: 0.3s;
  }

  .intro p.animated {
    transition-delay: 0.3s;
  }

  .intro .intro__link {
    transition-delay: 2.5s;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .intro .intro__content {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    color: #fff;
  }

  .intro__link img {
    margin-bottom: 10px;
  }

  .intro .intro__content p {
    position: absolute;
    text-align: left;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    letter-spacing: -0.02em;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    margin-top: -80px;
    margin-left: 0px;
    width: 340px;
    line-height: 48px;
    font-weight: 300;
    top: -55px;
    color: #000000;
  }
}
.intro .intro__content {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-align: center; */
  /* width: 100%; */
  /* letter-spacing: -0.001em; */
  font-family: "Lato", sans-serif;
  /* font-size: 18px; */
  /* margin-top: 0px; */
  max-width: 330px;
  /* line-height: 30px; */
  top: 310px;
}
.tool-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  background-color: #000000;
}
.tool-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 122px;
  margin-bottom: 122px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tool-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 11px;
  margin-bottom: 22px;
  margin-left: 11px;
  padding: 15px 0px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #000;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}
.about-text {
  margin-top: 127px;
  margin-bottom: 127px;
  font-size: 38px;
}
.about-text.tools-text {
  margin-top: 94px;
}
.about-text.tools-text.smaller {
  margin-top: 0px;
  margin-bottom: 73px;
}
.about-text.smaller {
  width: 100%;
  margin-bottom: 96px;
}
.about-text.smaller.portfolio.dribbble {
  margin-top: 0px;
  margin-bottom: 48px;
}
.about-text-flex {
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-text-flex.contact {
  margin-top: 65px;
  margin-bottom: 65px;
}
.about-text.tools-text {
  margin-top: 126px;
  margin-bottom: 79px;
  -webkit-box-flex: 0;
  -ms-flex: 0 100%;
  flex: 0 100%;
}
.about-text.tools-text.smaller {
  margin-top: 0px;
  margin-bottom: 91px;
  color: #fff;
}
.about-text.tools-text.smaller {
  margin-top: 0px;
  margin-bottom: 50px;
}
.text-block-7 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.tool-item-block {
  min-width: 150px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* ------------------------------------------------
-------------------------------------------------
-------------------------- Videos -----------
------------------------------------------------------
----------------------------------------------------*/
.video__media {
  height: 400px;
  width: 550px;
  margin-left: 600px;
  margin-bottom: 100px;
}

/* ------------------------------------------------
-------------------------------------------------
-------------------------- Logo -----------
------------------------------------------------------
----------------------------------------------------*/
.logo {
  background-image: url(../css/images/logo.png);

  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 21px;
  height: 32px;
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  margin-top: 2px;
  opacity: 0;
  visibility: hidden;
  transition: margin-top 0.3s, opacity 1s, visibility 1s;
  transition-delay: 0.5s;
  margin-left: -503px;
  margin-top: 10px;
}

.logo.animated-in {
  opacity: 1;
  visibility: visible;
}

.logo-appd2 {
  /* background-image: url(../css/images2/logo_black_appd.png); */

  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  display: block;
}
.appd {
  color: white;
}
.appd3 {
  color: black;
  line-height: 20px;
}
.appd_4 {
  color: black;
}
.logo-appd {
  /* background-image: url(../css/images2/appd_white_logo.png); */

  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  display: block;
}
.logo-bagswithapurpose {
  /* background-image: url(../css/images/bagswithapurpose.png); */

  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 113px;
  height: 31px;
  font-size: 0;
  line-height: 0;
  display: block;
}
.logo-OnePlace {
  /* background-image: url(../css/images/logo-OnePlace@2x.png); */

  width: 102px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 0;
  line-height: 0;
  display: block;
}

@media (max-width: 767px) {
  .bagswithapurpose {
    width: 88px;
    height: 23px;
  }

  .logo-OnePlace {
    width: 82px;
    height: 16px;
  }
  /* .logo-grabbem {
        width: 97px;
        height: 20px;
    } */
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------AppD Redeisgn -----------
------------------------------------------------------
----------------------------------------------------*/
.section__aside__appdredesign {
  min-width: 1100px;
  margin-left: -150px;
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------bagswithapurpose -----------
------------------------------------------------------
----------------------------------------------------*/
.white-text {
  color: #ffffff;
}

.section .section__content {
  -webkit-flex: 0 0 500px;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  max-width: 500px;
  margin-top: -22px;
}
.section .section__btn {
  margin-left: -4px;
}
.section .section__aside {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  transition: visibility 1s, opacity 1s, -webkit-transform 1s;
  transition: transform 1s, visibility 1s, opacity 1s;
  transition: transform 1s, visibility 1s, opacity 1s, -webkit-transform 1s;
}
.section .section__content > * {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  transition: visibility 1.2s, opacity 1.2s, -webkit-transform 1.2s;
  transition: transform 1.2s, visibility 1.2s, opacity 1.2s;
  transition: transform 1.2s, visibility 1.2s, opacity 1.2s,
    -webkit-transform 1.2s;
}
.section .section__content.animated-in > *,
.section .section__aside.animated-in {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}
.section .section__content.animated-in > h3 {
  transition-delay: 0.3s;
}
.section .section__content > p {
  transition-delay: 0.6s;
}
.section .section__content.animated-in .section__actions {
  transition-delay: 0.9s;
}
.section .section__aside {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  position: relative;
  left: 38px;
  padding-top: 8px;
  margin-left: -47px;
  margin-right: 25px;
}
.section img {
  width: 100%;
  height: auto;
  /* margin-top: 50px; */
}
.section h3 {
  margin-left: -4px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
}
.section p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: -3px;
  letter-spacing: -0.01\8em;
  max-width: 345px;
  margin-bottom: 24px;
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------OnePlace -----------
------------------------------------------------------
----------------------------------------------------*/
.section--reverse .section__inner {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.section--reverse .section__aside {
  margin-right: 50px;
  margin-left: -90px;
  left: 0;
}
.section--primary {
  padding-top: 102px;
  padding-bottom: 40px;
}
.section--primary img {
  margin-bottom: -123px;
}
.section--primary .section__content {
  margin-right: -151px;
  padding-left: 4px;
  margin-top: -73px;
  padding-top: 0;
}
.section--primary .section__aside {
  margin-left: -56px;
  margin-right: 117px;
}
.section--primary h3 {
  line-height: 1.2;

  font-size: 36px;
  padding: 50;
  margin-top: 18px;
  margin-bottom: 15px;
}
.section--primary h4 {
  line-height: 1.2;
  margin-top: 18px;
  margin-bottom: 15px;
  color: black;
  font-size: 50px;
}
.section--primary p {
  max-width: 395px;
  margin-left: -4px;
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------INTRO 2 -----------
------------------------------------------------------
----------------------------------------------------*/

/* ------------------------------------------------
-------------------------------------------------
--------------------------User Experience Process -----------
------------------------------------------------------
----------------------------------------------------*/
.section--secondary {
  position: relative;
  padding: 200px 0 51px;
}
.section--secondary .section__content {
  -webkit-flex: 0 0 550px;
  -ms-flex: 0 0 550px;
  flex: 0 0 550px;
  max-width: 550px;
  margin-top: -47px;
}
.section--secondary h3 {
  margin-top: 12px;
}

.section--secondary p {
  max-width: 400px;
}
.section--secondary .section__aside {
  margin-right: -230px;
  margin-left: 26px;
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------Section Backgrounds -----------
------------------------------------------------------
----------------------------------------------------*/
.section section--about {
  color: whit;
}

.section--black {
  background-color: #000000;
}

.section--white {
  background-color: #fff;
}

.section--about {
  background-image: white;
}

@media (max-width: 1340px) {
  .section .section__content {
    margin-right: 0;
    margin-left: 0;
  }
  .section--secondary .section__aside {
    margin-left: -80px;
    margin-right: -120px;
  }
}
@media (max-width: 1200px) {
  .section .section__aside {
    margin-right: 0;
  }
  .section--primary .section__aside {
    margin-left: 0;
    margin-right: 40px;
  }
  .section--primary img {
    margin-bottom: -60px;
  }
  .section--secondary {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .section--secondary .section__content {
    margin-top: 0;
  }
  .section--secondary .section__aside {
    margin-right: -130px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 44px;
    padding-bottom: 41px;
    font-size: 14px;
    text-align: center;
  }
  .section [class*="logo"] {
    margin: 0 auto;
  }
  .section img {
    display: block;
  }
  .section h3 {
    margin-top: 17px;
    margin-bottom: 12px;
  }
  .section p {
    max-width: 100%;
    margin-bottom: 26px;
    margin-left: 0;
  }
  .section .section__inner {
    display: block;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .section .section__aside {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(75px);
    -ms-transform: translateY(75px);
    transform: translateY(75px);
    transition: visibility 0.7s, opacity 0.7s, -webkit-transform 0.7s;
    transition: transform 0.7s, visibility 0.7s, opacity 0.7s;
    transition: transform 0.7s, visibility 0.7s, opacity 0.7s,
      -webkit-transform 0.7s;
    padding: 59px 10px 0;
    position: relative;
    left: 9px;
    transition-delay: 0;
  }
  .section .section__content,
  .section .section__aside {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: static;
  }
  .section .section__content {
    padding: 0 50px 0;
    font-size: 16px;
  }
  .section .section__aside img {
  width: 100%;
  margin-top: 15px;
  }
  .section--primary {
    padding-top: 55px;
    padding-bottom: 0px;
  }
  .section--primary .section__content {
    padding: 0 29px 42px;
  }
  .section--primary .section__aside {
    padding-top: 25px;
    width: auto;
    max-width: none;
    margin-right: 9px;
    margin-left: -5px;
  }
  .section--primary h3 {
    margin-bottom: 16px;
  }
  .section--primary img {
    margin-bottom: -22px;
  }
  .section--secondary {
    padding-top: 55px;
    padding-bottom: 62px;
  }
  .section--secondary h3 {
    margin-top: 13px;
    line-height: 0.9;
    letter-spacing: -0.055em;
  }
  .section--secondary .section__content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 35px;
  }
  .section--secondary p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section--secondary .section__aside {
    padding-top: 30px;
    padding-left: 11px;
    padding-right: 11px;
    position: static;
  }
}

#oneplaceimage {
  width: 88%;
  float: right;
  margin-right: 75px;
  margin-top: 35px;
}

@media (max-width: 400px) {
  .section .section__content {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }
  .section p {
    padding-left: 0;
    padding-right: 0;
  }
  #oneplaceimage {
    margin-right: 0;
  }
}

.section__aside img {
height: auto;
overflow: auto;
background-size: 20px;
margin-top: -15px;
 }

.projects_pic {
  position: initial;
  /* float: right; */
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#uxprocessimage {
  width: 750px;
  height: auto;
  margin-bottom: 90px;
  margin-right: auto;
}

#uiprocessimage {
  /* width: 567.52px; */
  height: 50%;
  margin-bottom: 200px;
  /* margin: 0 auto; */
}


.section--about h3 {
  color: black;
  font-size: 45px;
  margin-top: 90px;
  margin-right: -230px;
  margin-left: -46px;
}
.section--about p {
  color: black;
  margin-right: -230px;
  margin-left: -46px;
  padding-right: ;
}
.section--about img {
  margin-top: -160px;
  margin-right: -380px;
  margin-left: 26px;
  padding-right: 300px;
}
.section--about img {
  margin-top: -160px;
  margin-right: -380px;
  margin-left: 26px;
  padding-right: 300px;
}

/* ------------------------------------------------
-------------------------------------------------
-------------------------- Socials -----------
------------------------------------------------------
----------------------------------------------------*/
.socials {
  margin-top: 12px;
  margin-bottom: 49px;
}
.socials li {
  display: inline-block;
  position: relative;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s,
    -webkit-transform 0.5s;
}
.socials i {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.socials li + li {
  margin-left: 18px;
}
.socials li:nth-last-child(1) {
  transition-delay: 1s;
}
.socials li:nth-last-child(2) {
  transition-delay: 1.2s;
}
.socials li:nth-last-child(3) {
  transition-delay: 1.4s;
}
.socials li:nth-last-child(4) {
  transition-delay: 1.6s;
}
.socials li:nth-last-child(5) {
  transition-delay: 1.8;
}
.socials li:nth-last-child(6) {
  transition-delay: 2s;
}
@media (max-width: 767px) {
  .socials {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  .socials i {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  .copyright {
    font-size: 11px !important;
  }
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------Footer -----------
------------------------------------------------------
----------------------------------------------------*/
.footer {
  /* background: url(images2/blackpoly.jpg); */
  background: #ffffff;
  color: #000;
  text-align: center;
  padding: 18px 0 20px;
}
.footer .footer__link i,
.footer h4 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-delay: 0.3s;
}
.footer h4 {
  margin-top: 15px;
  margin-bottom: -4px;
  color: #000;
}
.footer p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 1px;
  color: #000;
  letter-spacing: -0.025em;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s,
    -webkit-transform 0.5s;
}
.footer p:nth-of-type(1) {
  transition-delay: 0.7s;
}
.footer p:nth-of-type(2) {
  transition-delay: 0.9s;
}
.footer a {
  color: #000;
  font-weight: 400;
}
.footer p a {
  text-decoration: underline;
}
.footer .copyright {
  transition-delay: 1.2s;
}
.footer.animated-in .footer__link i,
.footer.animated-in .copyright,
.footer.animated-in h4,
.footer.animated-in p,
.footer.animated-in .socials li {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .footer {
    padding: 23px 44px 30px;
  }
  .footer h4 {
    margin-bottom: 5px;
  }
  .footer p {
    font-size: 17px;
    display: inline;
    line-height: 1.3;
  }
  .footer p:nth-of-type(1),
  .footer p:nth-of-type(2) {
    transition-delay: 0.5s;
  }
}
@media (max-width: 400px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------Social icons -----------
------------------------------------------------------
----------------------------------------------------*/
.ico-cat {
  background-image: url(images/ico-cat.png);
  background-position: 95% 42.10526315789473%;
  background-size: 372.7272727272727% 359.09090909090907%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.ico-chevron {
  background-image: url(images/chevrondown.png);
  background-size: cover;
  width: 26px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
/* .ico-globe {
  background-image: url(images2/sprite.png);
  background-position: 0% 100%;
  background-size: 372.7272727272727% 359.09090909090907%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
} */
.ico-linkedin {
  background-image: url(images/ico-linkedin.png);
  background-position: 43.333333333333336% 98.27586206896551%;
  background-size: 372.7272727272727% 376.1904761904762%;
  width: 22px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
font-size: 0;
}
.ico-mail {
  background-image: url(css/images/ico-mail.png);
  background-position: 100% 0%;
  background-size: 328% 395%;
  width: 25px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ico-cat {
    background-image: url(css/images/ico-cat.png);

    background-position: 95% 42.10526315789473%;
    background-size: 372.7272727272727% 359.09090909090907%;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
  .fa-angle-down {
    /* background-image: url(images2/sprite.@2x.png); */

    background-position: 88.13559322033898% 87.6923076923077%;
    background-size: 356.52173913043475% 564.2857142857143%;
    width: 23px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
  }
  /* .ico-globe {
    background-image: url(images2/sprite.@2x.png);

    background-position: 0% 100%;
    background-size: 372.7272727272727% 359.09090909090907%;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  } */
  .ico-linkedin {
    background-image: url(css/images/ico-linkedin.png);

    background-position: 43.333333333333336% 98.27586206896551%;
    background-size: 372.7272727272727% 376.1904761904762%;
    width: 22px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
  .ico-mail {
    background-image: url(css/images/ico-mail.png);
    background-position: 100% 0%;
    background-size: 328% 395%;
    width: 25px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
}

/* ------------------------------------------------
-------------------------------------------------
--------------------------Copyright -----------
------------------------------------------------------
----------------------------------------------------*/
.copyright {
  font-size: 13px !important;
  letter-spacing: -0.005em !important;
  font-weight: 400;
  margin-top: 20px;
}
