* {
  color: #3f3b50;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.load-smooth {
  display: none;
}

.not-home {
  display: none;
}

/* fancy css for js*/
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}
/* end fancy css*/

header {
  /*height: 555px;*/
  /* margin: 0 6% 100px 6%; */
}

main {
  padding: 0 13%;
  max-width: 1450px;
  margin: 0 auto;
  width: 72%;
}

img,
video {
  max-width: 100%;
}

/* navigation */
#logo {
  display: none;
}

nav {
  padding: 15px 95px;
}

nav ul {
  float: right;
}

nav li {
  float: left;
}

nav a {
  display: inline-block;
  padding: 8px;
}

nav > ul > li > a {
  padding-top: 15px;
}

section {
  margin-top: 50px;
  margin-bottom: 100px;
}

.main {
  width: 72%;
  margin: 0 auto;
  max-width: 1450px;
}

.none {
  display: none;
}
/***--------------------***/
/***------- Icons ------***/
/***--------------------***/

.fas.fa-caret-right {
  color: #f07e81;
  padding: 10px 5px 0px 5px;
  width: 15px;
}

/***---------------------------***/
/****------- typography ------****/
/***---------------------------***/

/* link typography */
a {
  color: #f07e81;
  font-family: "PaulGroteskSoft-Regular";
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: #f0cf7e;
}

.read-more:hover i {
  color: #f0cf7e;
}

/* header  typography*/
/* general typography */
h1 {
  font-family: "PaulGrotesk-Bold";
  font-size: 80px;
}

h2 {
  font-family: "PaulGrotesk-Bold";
  font-size: 45px;
}

h3 {
  font-family: "PaulGrotesk-Bold";
  font-size: 40px;
  letter-spacing: 0.01rem;
  margin: 50px 0 15px 0;
}

h4 {
  font-family: "PaulGroteskSoft-Bold";
  font-size: 35px;
  margin: 30px 0;
}

.h4 {
  font-family: "PaulGroteskSoft-bold";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.design-role {
  font-family: "PaulGroteskSoft-regular";
  letter-spacing: 0.07rem;
  margin: 0 auto;
  padding: 4px 1px 0 0;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

p {
  margin-bottom: 15px;
}

.light {
  font-family: "PaulGroteskSoft-UltraLight";
  font-size: 16px;
  letter-spacing: 0.06rem;
}

/* common text-styles typography*/
.caseStudy-text {
  font-family: "PaulGrotesk-regular";
  font-size: 20px;
  letter-spacing: 0.01rem;
  line-height: 35px;
}

.desc {
  font-family: "PaulGrotesk-Light";
  font-size: 22px;
  letter-spacing: 0.025rem;
  line-height: 33px;
}

.label {
  color: #9ba0b3;
  font-family: "PaulGrotesk-SemiBold";
  font-size: 1rem;
  letter-spacing: 0.07rem;
  margin-top: 7px;
}

.uppercase {
  text-transform: uppercase;
}

/***------------------------------------***/
/***--------- Homepage specific --------***/
/***------------------------------------***/

/* typography */

.opening {
  margin-left: 220px;
  padding: 6px;
  position: relative;
  top: -80px;
  width: 710px;
}

h3.home-page {
  font-family: "PaulGrotesk-Bold";
  margin-left: 7%;
  letter-spacing: 0.05rem;
}

.feat-project-text > h2 {
  letter-spacing: 0.3rem;
  margin-bottom: 10px;
  text-align: center;
}

.feat-project-text > .label {
  margin-bottom: 20px;
  text-align: center;
}

.feat-project-text > .desc {
  margin: 0 25% 20px 25%;
  text-align: justify;
  width: 50%;
  line-height: 38px;
  font-family: "PaulGroteskSoft-Regular";
}

.feat-project > .read-more {
  color: #f07e81;
  margin-left: 25%;
}
.feat-project > .read-more:hover {
  color: #f0cf7e;
}

.slogan {
  font-family: "PaulGroteskSoft-UltraLight";
  font-size: 44px;
  letter-spacing: 0.2rem;
  line-height: 50px;
}

/* Images and backgrounds and logo */
.logo {
  display: inline;
  /* height: 132px; */
  margin-left: 113px;
  /* margin-top: 130px; */
  position: relative;
  top: 15px;
  z-index: 1;
}

.feat-bg {
  background-image: url("../images/homepage/space-featBG.png");
  margin-bottom: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.feat-logo {
  display: none;
}

.feat-project .screens-for-feat,
img.feat-mobile-screen {
  width: 875px;
  position: relative;
  top: 70px;
  left: 15%;
}

.feat-project {
  /*background-color:#F9F9F9;*/
  padding-bottom: 40px;
  border-radius: 5px;
}

/***********/
/* Maslow */
/**********/
.maslow {
  background-color: #21242f;
}
.feat-bg-maslow {
  background-image: url("../images/maslow/hero-bg.png");
  margin-bottom: 110px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.feat-project .screens-for-feat-maslow,
img.feat-mobile-screen {
  width: 90%;
  position: relative;
  top: 54px;
  left: 5%;
}

.flows {
  margin-top: 50px;
}

/***********/
/* Charter */
/**********/
.feat-bg-charter {
  /*background-color:#F9F9F9;*/
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .feat-project .screens-for-feat-charter,
img.feat-mobile-screen {
} */

.flows {
  margin-top: 50px;
}

.caption {
  color: #929192;
  font-family: "PaulGroteskSoft-Light";
}

/***-----------------------------------------------------------***/
/***--------- casestudy specific  - ordered by section --------***/
/***-----------------------------------------------------------***/

/* common */

.align-top {
  vertical-align: top;
}

.colored {
  background-color: #f3f4fa;
  padding: 30px 60px 60px 60px;
}

/* grid */

.half {
  display: inline-block;
  width: 49%;
}

.small-third {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  text-align: left;
}
.large-third {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  margin: 0 8% 0 5%;
  text-align: left;
}

.section-label {
  display: inline-flex;
  float: left;
  width: 16%;
}

.textbox {
  display: inline-block;
  width: 58%;
  /*margin-left: 16%;*/
}

/* spacing */

.margin-left {
  margin-left: 16%;
}

.padding-top {
  margin-top: 50px;
}

.top-bottom {
  margin: 50px 0;
}

/* lines */
.line {
  background: #9ba0b3 no-repeat scroll center;
  height: 1px;
  margin: 0 0 50px 0;
  width: 100%;
}

/*.vertical-line {
    background: #9BA0B3  no-repeat scroll center;
    height:100px;
    float: left;
    margin: 15px 20px 20px 50px;
    width:1px;
  }*/

/*.sm-vertical-line {
    background: #9BA0B3  no-repeat scroll center;
    height:75px;
    float: left;
    margin: 15px 20px 0px 50px;
    width:1px;
  }*/

.vertical-line-lg,
.sm-vertical-line,
.vertical-line {
  border-left: 2px solid #9ba0b3;
  padding: 0 4%;
  /*margin-left: 4%;*/
}

.quote {
  color: #9ba0b3;
  font-family: "PaulGrotesk-SemiBold";
  font-size: 1rem;
  letter-spacing: 0.01rem;
  line-height: 25px;
  margin: 30px 0;
}

/* header */
.center {
  text-align: center;
}

.regular {
  font-family: "PaulGrotesk-Regular";
  padding-top: 10px;
}

/* challenges insights and solutions */
.num-list {
  font-family: "PaulGrotesk-Medium";
  letter-spacing: 0.04rem;
  line-height: 34px;
  font-size: 20px;
}
.num-list li {
  padding: 5px 0;
}

/* Role deliverables and tools */
.third {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin: 20px;
}

.med-text {
  font-family: "PaulGrotesk-Medium";
  line-height: 25px;
}

/* assumptions */

/* user research */
.percent-desc {
  font-family: "PaulGrotesk-SemiBold";
  font-size: 16px;
  letter-spacing: 0.05rem;
  line-height: 20px;
  text-align: left;
  width: 80%;
}

.user-research {
  margin-left: 12%;
}

h2.user-research {
  margin-top: 25px;
}

.user-research .third {
  margin-left: 0;
  width: 27%;
}

/* persona */
.persona-l {
  padding: 0 25px 0 23%;
}

.persona-l .caseStudy-text,
.persona-r .caseStudy-text {
  font-family: "PaulGrotesk-regular";
  font-size: 19px;
  letter-spacing: 0.01rem;
  line-height: 30px;
}

.persona-r {
  padding: 0 23% 0 25px;
}

.personas .half {
  width: 50%;
}

/* compentive analysis */

/* user flows and user stories */

/* branding */
.branding {
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}
/* color pallete */

/* text */

/* low fedelity wireframes */

/* A AND B TESTING  */
.ab-desk-img {
  width: 95%;
}

/* user testing video */

/* final product */
.quarter {
  display: inline-block;
  width: 25%;
}
.screens {
  background-image: url("../images/space/final-mbg.png");
  display: inline-block;
  height: 100%;
  padding: 100px;
}
/* mobile */

.mobile {
  width: 100%;
}

.slider {
  display: none;
}

.row-1 {
  position: relative;
  top: -100px;
}

.row-2 {
  position: relative;
  top: 0;
}

.row-3 {
  position: relative;
  top: 200px;
}

.row-4 {
  position: relative;
  top: -500px;
  left: 76%;
}

.smaller {
  max-width: 100%;
  /*width:25%;*/
}

/*desktop*/
.col-1-desktop {
  width: 49%;
  float: left;
}

.col-2-desktop {
  float: right;
  width: 49%;
  position: relative;
  top: 100px;
}

/*product features*/

.left {
  float: left;
}

.right {
  float: right;
}

.prod-feat {
  margin: 100px 0;
}

.top {
  padding-top: 100px;
}

.feat-right {
  margin-left: 5%;
}

.feat-2 {
  position: relative;
  /*top:-250px;*/
  top: 160px;
}

.feat-3 {
  min-height: 300px;
}

/* prototypes */
.prototypes {
  display: inline;
  /* width: 100%;
  height: 300px; */
}

.prototypes a p {
  color: #f07e81;
}

.prototypes a:hover p {
  color: #f0cf7e;
}

.half > a {
  margin: 0 auto;
}

.desktop-icon {
  background-image: url("../images/Common/desktop-icon.gif");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 50% -3%;
  height: 150px;
  margin-bottom: 15px;
}
.mobile-icon {
  background-image: url("../images/Common/mobile-icon.gif");
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 50% -5%;
  height: 160px;
  margin-bottom: 15px;
}

.mobile-icon:hover {
  background-position: 50% 117%;
}

.desktop-icon:hover {
  background-position: 50% 100%;
}

/* conclusion */
.large-textbox {
  margin: 0 20%;
  width: 60%;
}

.subhead {
  color: #f0a377;
  font-family: "PaulGrotesk-Bold";
  letter-spacing: 0.09rem;
  margin-top: 25px;
  text-transform: uppercase;
}

/***--------------------------***/
/***---------- About ---------***/
/***--------------------------***/

#about article p {
  letter-spacing: 0.025rem;
  line-height: 35px;
}
.about-social-nav {
  display: inline-flex;
  margin: 20px 0%;
  width: 80%;
}
.about-social-nav li {
  display: inline-flex;
  margin: 0 6%;
}

.about-social-nav a {
  color: #3f3b50;
}
.about-social-nav a:hover {
  color: #f07e81;
}

#about section > section {
  margin-top: 10px;
  margin-bottom: 0px;
}

#about .label {
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
}

#about .desc {
  font-family: "PaulGrotesk-Regular";
  font-size: 20px;
  letter-spacing: 0.025rem;
  line-height: 33px;
}

#about .pink.top-zero {
  margin-top: 7px;
}
#about .pink {
  color: #f37d7c;
  margin-top: 50px;
  text-transform: uppercase;
}

p.Info-heading {
  margin-bottom: 0;
}

.reviews {
  margin: 50px 0%;
  width: 100%;
}
.review {
  height: 420px;
  margin-bottom: 50px;
  width: 36%;
}
#about .darkbg {
  background-color: #3f3b50 /*rgba(240,126,129,.50)*/;
  margin: 0 auto;
  padding: 50px 20% 100px 16%;
  /* width: 64%; */
}

#about .darkbg .textbox {
  width: 90%;
}

#about .percent-desc {
  width: 100%;
}

.roles {
  display: inline-block;
  margin-left: 12%;
  margin-right: 9%;
  width: 47%;
}

.roles ul {
  list-style: initial;
}

.roles li {
  padding: 6px 6px 6px 0;
}

.role-first {
  margin: 20px 0;
}
.role {
  margin: 50px 0;
}

.Info-heading {
  font-family: "PaulGrotesk-Medium";
  font-size: 25px;
}

.sidebar {
  display: inline-block;
  width: 25%;
}

.sidebar li {
  padding: 4px 4px 4px 0;
}

.darkbg {
  background-color: #3f3b50 /*rgba(240,126,129,.50)*/;
  margin: 0 auto;
  padding: 50px 100px 100px 100px;
  width: 64%;
}

.darkbg p,
.darkbg h4 {
  color: #f3f4fa;
}
#about .darkbg a {
  font-family: "PaulGroteskSoft-Regular";
}

/***--------------------------***/
/***- other projects section -***/
/***--------------------------***/

.project {
  width: 30%;
}

.other-projects {
  display: flex;
  margin-top: 30px;
}

.middle-project {
  margin: 0 33px;
}

.project .project-name {
  font-family: "PaulGrotesk-Bold";
  font-size: 20px;
  letter-spacing: 0.1rem;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.project .desc {
  font-size: 18px;
}

/***--------------------***/
/***------ Footer ------***/
/***--------------------***/

footer {
  background-color: #3f3b50;
  display: block;
  height: 60px;
  overflow: hidden;
  width: 100%;
}

footer .main {
  width: 51%;
}

footer > div > nav {
  /*display: inline-block;*/
  float: left;
  padding-left: 0;
  /*padding-top:5px;
    width:25%;*/
}

footer nav ul {
  float: none;
}

footer nav a {
  color: #9ba0b3;
  font-family: "PaulGrotesk-SemiBold";
  font-size: 16px;
}
footer nav a:hover {
  color: #f07e81;
}

footer h4 {
  color: #f07e81;
  margin-top: 30px;
}

footer p {
  color: #f3f4fa;
}

footer p.desc {
  font-family: "PaulGrotesk-regular";
  line-height: 25px;
  letter-spacing: 0.05rem;
  font-size: 20px;
}

footer h4 {
  margin: 30px 0 20px 0;
}

/* footer call to action*/
footer > div > p {
  color: #f07e81;
  display: inline-block;
  font-family: "PaulGrotesk-Regular";
  letter-spacing: 0.1rem;
  /*margin: 0 auto;*/
  padding-top: 30px;
  /*text-align: center;
    width:29%;*/
}

/* social media icons*/
footer a i {
  color: #9ba0b3;
}
footer a i:hover {
  color: #f07e81;
}

footer > div > ul.social-media > li {
  margin: 5px 10px;
}

footer > div > .social-media {
  display: inline-flex;
  float: right;
  margin-top: 24px;
  width: 19%;
}

.large-footer {
  padding-top: 10px;
  height: 250px;
}
.large-footer a {
  font-family: "PaulGroteskSoft-Regular";
}

.bottom {
  position: relative;
  bottom: 0px;
}

@media screen and (max-width: 1535px) {
  .small-third {
    width: 15%;
  }
  .large-third {
    width: 35%;
    margin: 0 8% 0 5%;
  }

  .margin-left {
    margin-left: 15%;
  }
  .textbox {
    display: inline-block;
    width: 65%;
  }

  .feat-project .screens-for-feat,
  img.feat-mobile-screen {
    width: 80%;
    position: relative;
    top: 55px;
    left: 10%;
  }

  .feat-project-text > .desc {
    width: 60%;
    margin: 0 20% 20px;
    letter-spacing: 0.05rem;
    line-height: 33px;
  }

  .feat-project > .read-more {
    margin-left: 20%;
  }

  .desc {
    line-height: 33px;
  }

  .row-1 {
    position: relative;
    top: -100px;
  }

  .row-2 {
    position: relative;
    top: 0;
  }

  .row-3 {
    position: relative;
    top: 100px;
  }

  .row-4 {
    position: relative;
    top: -450px;
  }

  .darkbg {
    margin: 0 auto;
    width: 71%;
  }
  .reviews {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 1501px) {
  .feat-2 {
    position: relative;
    top: 180px;
  }
}

@media screen and (max-width: 1385px) {
  .logo {
    margin-left: 0%;
  }
  .opening {
    margin-left: 11%;
    width: 600px;
  }

  .colored {
    background-color: #f3f4fa;
    padding: 20px 30px 30px 30px;
  }

  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .screens {
    height: 100%;
    padding: 100px;
  }
  .mobile {
    height: 100%;
  }

  .large-footer {
    height: 300px;
  }

  .feat-2 {
    position: relative;
    top: 150px;
  }

  .feat-3 {
    min-height: 280px;
  }
  .feat-3-img {
    position: relative;
    top: 10px;
  }

  .prod-feat {
    margin: 60px 0;
  }

  .prod-feat .half {
    width: 45%;
  }

  .review {
    height: 385px;
    margin-bottom: 50px;
    width: 41%;
  }

  .large-footer {
    height: 330px;
  }

  .large-footer div p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1080px) {
  header {
    margin: 0 6% 10px 6%;
  }

  main {
    max-width: 90%;
    padding: 0 10%;
  }
  .feat-project-text > h2 {
    letter-spacing: 0.2rem;
  }

  h3 {
    font-family: "PaulGrotesk-Bold";
    font-size: 40px;
    letter-spacing: 0.01rem;
    line-height: 60px;
    margin: 30px 0 15px 0;
  }
  .half .caseStudy-text {
    font-size: 16px;
    padding: 0 20px;
  }

  .half h4 {
    padding: 0 20px;
  }

  .about-social-nav {
    width: 100%;
  }

  .section-label {
    width: 12%;
  }

  .margin-left {
    margin-left: 12%;
  }

  .small-third {
    width: 28%;
    text-align: center;
  }

  .large-third {
    width: 28%;
    margin: 0 4% 0 4%;
    text-align: center;
  }
  .large-third .right,
  .large-third .left {
    float: none;
  }

  .align-left {
    text-align: center;
  }

  .logo {
    margin-left: 2%;
    margin-top: 80px;
  }

  .opening {
    margin-left: 17%;
    padding: 0px;
    width: 60%;
  }

  .desc {
    letter-spacing: 0.05rem;
  }

  .project .desc {
    font-size: 16px;
    line-height: 20px;
  }

  .feat-project-text > .desc {
    width: 80%;
    margin: 0 10% 20px;
  }

  .feat-project > .read-more {
    margin-left: 10%;
  }

  .persona-l {
    padding: 0 25px 0 5%;
  }

  .persona-r {
    padding: 0 5% 0 25px;
  }

  .personas .half .caseStudy-text {
    padding-left: 0;
  }

  .sm-vertical-line {
    margin: 15px 20px 0 0;
    height: 75px;
  }

  .textbox {
    width: 80%;
  }

  .darkbg {
    width: 76%;
  }
  .reviews {
    width: 100%;
  }

  .prod-feat .half {
    width: 49%;
  }

  .feat-2 {
    position: relative;
    top: -90px;
  }

  .prod-feat .right {
    float: none;
  }

  .desc.feat-right {
    margin-left: 10%;
  }

  footer .main {
    width: 95%;
    margin: 0 7%;
  }

  footer.large-footer > .main {
    width: 90%;
  }

  /* maslow */

  .feat-project .screens-for-feat-maslow,
  img.feat-mobile-screen {
    width: 90%;
    position: relative;
    top: 40px;
    left: 5%;
  }
  .feat-bg-maslow {
    margin-bottom: 70px;
  }
}
/**********************************/
/******* tablet view **************/
/**********************************/

@media screen and (max-width: 950px) {
  .flows.off {
    display: none;
  }
  a {
    color: #f07e81;
    font-family: "PaulGroteskSoft-Regular";
    font-size: 16px;
    text-decoration: none;
    line-height: 23px;
  }
  header {
    margin: 0 10% 50px 10%;
  }

  main {
    padding: 0 5%;
    max-width: 90%;
    margin: 0 auto;
  }

  .main {
    width: 90%;
  }

  section {
    margin: 50px 0;
  }

  .colored {
    padding: 7%;
  }

  .colored section {
    margin: 0;
  }

  .margin-left {
    margin-left: 10%;
  }

  .textbox {
    width: 80%;
    padding-top: 20px;
  }
  #about article p {
    letter-spacing: 0.04rem;
    line-height: 25px;
  }
  #about .darkbg {
    padding: 30px 10%;
    width: 80%;
  }
  .middle-project {
    margin: 0 15px;
  }

  .project {
    width: 32%;
  }

  /******************************/
  /***** tab - nav ***********/
  /******************************/

  nav {
    padding: 15px 5%;
  }

  nav a {
    display: inline-block;
  }

  nav > ul > li > a {
    font-size: 17px;
    padding-top: 15px;
  }

  .full-logo {
    width: 120px;
  }

  /* typography */
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 30px;
    letter-spacing: 0.01rem;
    margin: 30px 0 10px 0;
    padding-bottom: 10px;
    line-height: 0px;
  }

  h4 {
    font-size: 25px;
    margin: 10px 0;
  }

  p.desc {
    margin-bottom: 0;
  }

  .caseStudy-text {
    font-size: 16px;
    letter-spacing: 0.02rem;
    line-height: 24px;
  }

  .desc {
    font-size: 17px;
    line-height: 25px;
  }

  .label {
    font-size: 15px;
    letter-spacing: 0.1rem;
    margin: 15px 0;
  }

  /* text for homepage only */
  .opening {
    margin: 0 15%;
    padding: 6px;
    position: unset;
    width: 70%;
  }
  .slogan {
    font-size: 30px;
    line-height: normal;
  }

  .feat-project-text > .desc {
    margin: 0 5%;
    text-align: left;
    width: 90%;
    letter-spacing: 0.03rem;
    line-height: 25px;
  }

  .feat-project > .read-more {
    margin-left: 5%;
  }
  .feat-project-text > h2 {
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .logo {
    margin-left: 35%;
    margin-bottom: 20px;
  }

  /* end homepage type styles */

  .feat-bg {
    height: 475px;
    margin-bottom: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .feat-project img.screens-for-feat {
    width: 80%;
    position: relative;
    top: 40px;
    left: 10%;
  }

  /* maslow*/
  .feat-project .screens-for-feat-maslow {
    width: 90%;
    position: relative;
    top: 34px;
    left: 5%;
  }
  .feat-bg-maslow {
    margin-bottom: 60px;
  }

  /***---------------------------------***/
  /***------ case study - tablet ------***/
  /***---------------------------------***/

  .feat-logo-project {
    margin-top: 80px;
  }

  img.feat-mobile-screen {
    margin: 0 auto;
    position: relative;
    top: 60px;
    left: 10%;
    width: 80%;
  }

  .section-label,
  .textbox {
    display: block;
    float: none;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  /* lines -tablet */
  .line {
    display: none;
  }

  /* end lines */

  .quote {
    font-size: 15px;
    letter-spacing: 0.01rem;
    line-height: 23px;
  }

  .quote li {
    padding-bottom: 15px;
  }

  /* challenges insights and solutions */
  .num-list {
    font-family: "PaulGrotesk-Medium";
    letter-spacing: 0.03rem;
    line-height: 24px;
    font-size: 16px;
  }
  .num-list li {
    padding: 5px 0;
  }

  /* Role deliverables and tools */
  .med-text {
    font-family: "PaulGrotesk-Medium";
    line-height: 25px;
  }

  /* moodboard */
  .mood-board {
    background-image: url("../images/space/moodboard.png");
    background-position: center;
    background-size: auto 320px;
    background-repeat: no-repeat;
  }
  /* assumptions */
  /* user research */
  .percent-desc {
    font-family: "PaulGrotesk-SemiBold";
    font-size: 14px;
    letter-spacing: 0.05rem;
    line-height: 15px;
    text-align: left;
    width: 90%;
  }

  h2.user-research {
    margin-top: 10px;
  }

  .user-research {
    margin-left: 10%;
  }

  .user-research .third {
    margin-left: 0;
    width: 27%;
  }
  /* persona */
  .persona-l,
  .persona-r {
    padding: 0 5%;
  }

  .persona-l p.caseStudy-text,
  .persona-r p.caseStudy-text {
    font-size: 16px;
    padding: 0;
  }

  .personas h3 {
    line-height: 30px;
  }

  /* compentive analysis */
  /* user flows and user stories */
  /* branding */
  .branding {
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }

  /* color pallete */
  .color-palette .caseStudy-text,
  .color-palette .half h4,
  .fonts .half h4,
  .fonts .half .caseStudy-text {
    padding-left: 15%;
  }

  /* low fedelity wireframes */
  /* A AND B TESTING  */
  .ab-desk-img {
    width: 100%;
  }

  .ab-percent {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  /* user testing video */
  /* final product */
  .quarter,
  .mobile {
    display: none;
  }

  .screens {
    background-image: url("../images/space/final-mbg.png");
    display: block;
    height: 100%;
    padding: 20px 0px 40px 25px;
  }

  .slider {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .slider img {
    width: 80%;
    margin: 0 auto;
  }

  .text-white {
    color: white;
  }

  .slideshow-controls {
    width: 100%;
    font-size: 30px;
    position: relative;
    top: -350px;
    left: -20px;
  }

  /*desktop*/

  .col-1-desktop,
  .col-2-desktop {
    float: none;
    width: 100%;
    position: unset;
    top: 0;
  }

  /*product features*/
  /* prototypes */
  /* conclusion */
  .large-textbox {
    margin: 0 auto;
    width: 80%;
  }

  /***----------------------------***/
  /***------ About - tablet ------***/
  /***----------------------------***/

  .about-social-nav {
    padding-left: 0;
  }
  .about-social-nav li {
    margin: 0 3%;
  }

  .reviews,
  .review {
    display: none;
  }

  .roles {
    margin-left: 0;
    margin-right: 0;
    width: 70%;
  }

  .roles ul {
    list-style: initial;
    padding-left: 20px;
    margin-right: 30px;
  }

  .role {
    margin: 20px 0;
  }

  .sidebar li {
    padding: 4px;
  }

  #about .desc {
    font-size: 16px;
  }
  #about .section-label,
  .textbox {
    width: 85%;
    padding-bottom: 20px;
  }
  #about .colored {
    padding-right: 3%;
    padding-top: 3%;
  }
  #about .darkbg .textbox {
    width: 100%;
  }

  main#about {
    width: 90%;
  }

  .darkbg {
    padding: 30px 10%;
    width: 80%;
  }

  /***--------------------------***/
  /***------tab Footer ------***/
  /***--------------------------***/

  footer {
    height: 60px;
    text-align: center;
    margin-top: 35px;
  }

  footer > .main {
    width: 90%;
    margin: 0 5%;
  }

  footer nav {
    padding: 6px 5%;
  }

  footer > div > p {
    width: 40%;
  }

  /*footer.large-footer{
      height:675px;
    }*/
}

@media screen and (max-width: 800px) {
  .feat-bg {
    height: 380px;
    margin-bottom: 70px;
  }
}

/*Ipad*/
@media screen and (max-width: 770px) {
}

@media screen and (max-width: 670px) {
  h3 {
    line-height: 40px;
  }
  .textbox,
  .section-label,
  .half {
    width: 100%;
  }

  .half {
    margin: 15px 0;
  }

  .half h4 {
    padding: 0;
  }

  .mobile-half {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 48%;
  }

  .third {
    margin: 30px 0;
  }

  .prod-feat .half {
    width: 100%;
  }

  .feat-2 {
    position: unset;
  }

  .top {
    padding-top: 50px;
  }

  .feat-bg {
    height: 330px;
    margin-bottom: 70px;
  }
  /*About - name on new line*/
  span.new-line {
    display: block;
  }

  /*personas*/
  .personas .half {
    float: none;
    width: 100%;
  }

  .small-third,
  .large-third {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .user-research .third {
    width: 49%;
    text-align: left;
  }

  footer {
    height: 80px;
    text-align: center;
    margin-top: 35px;
    padding-top: 20px;
  }

  footer > div > nav {
    display: none;
  }

  footer a.read-more {
    margin-bottom: 0px;
    padding-bottom: 5px;
  }

  footer a.read-more i {
    font-size: 16px;
  }

  footer i {
    font-size: 30px;
  }
  /* footer call to action*/
  footer > div > p {
    display: block;
    padding: 0;
    width: 100%;
  }

  /* social media icons*/
  footer > div > ul.social-media > li {
    margin: 0 auto;
    padding: 15px 6%;
    position: relative;
    left: 2%;
  }

  footer > div > .social-media {
    float: none;
    margin: 0 0%;
    width: 100%;
  }

  /*footer.large-footer{
      height:700px;
    }*/
}
/**********************************/
/******* Mobile view **************/
/**********************************/
@media screen and (max-width: 500px) {
  /* For mobile phones:  organized- most used/common - nav - type - -pages by section*/

  main {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }

  body {
    max-width: 100%;
  }

  header {
    margin: 0 6% 30px 6%;
  }

  section {
    margin: 40px 0;
  }

  .off {
    display: none;
  }

  .hide {
    opacity: 0;
  }

  .mobile-full {
    display: block;
    width: 100%;
  }
  .mobile-image {
    height: 320px;
  }

  /******************************/
  /***** mobile - nav ***********/
  /******************************/
  nav .none {
    display: block;
  }

  .mark {
    display: inline-block;
    /* float: left; */
  }

  .fixed {
    text-align: center;
    position: fixed;
    z-index: 10;
  }

  .fixed a {
    color: white;
    font-size: 60px;
    padding-top: 50px;
  }
  .fixed li {
    display: block;
    float: none;
    margin: auto;
  }

  nav .none.off {
    opacity: 0;
  }

  #menuToggle {
    display: block;
    position: fixed;
    right: 20px;
    top: 30px;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
     * Just a quick hamburger
     */
  #menuToggle span {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 2;

    transform-origin: 25% 0% 0;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
     * But let's hide the middle one.
     */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  } /*
     * Ohyeah and the last one should go the other direction
     */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*
     * Make this absolute positioned
     * at the top left of the screen
     */
  #menu {
    position: absolute;
    width: 400px;
    height: 900px;

    margin: -100px 0 0 500px;
    padding: 50%;
    padding-top: 125px;
    background: #f07e81ed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: none;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  /*
     * And let's slide it in from the left
     */
  #menuToggle input:checked ~ ul {
    transform: translate(-880px, 0px);
  } /* end menu */
  /* spacing */
  .padding-top {
    margin-top: 30px;
  }
  .top {
    padding-top: 25px;
  }
  .top-bottom {
    margin: 25px 0;
  }
  .half {
    display: block;
    width: 100%;
  }
  .half h4,
  .half p {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }
  .third {
    /*display:block;
      width: 100%;*/
    margin: 30px 0;
  }
  /* typography */
  a.read-more {
    display: block;

    margin-bottom: 50px;
  }
  a.off {
    display: none;
  }
  h1 {
    font-size: 56px;
  }
  h3 {
    margin: 30px 0 0px 0;
  }
  .third.mobile-half {
    text-align: left;
  }
  #about article p {
    letter-spacing: 0.03rem;
    line-height: 24px;
  }
  #about .desc {
    font-family: "PaulGrotesk-Regular";
    font-size: 16px;
    letter-spacing: 0.025rem;
    line-height: 25px;
  }
  #about .darkbg .textbox {
    width: 100%;
  }
  #about .pink {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #about .section-label,
  .textbox {
    display: block;
    float: none;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 0px;
  }
  #about .mobile-half {
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 48%;
  }
  .textbox {
    padding-top: 0;
  }
  .caseStudy-text {
    font-size: 15px;
  } /* text for homepage only */
  .opening {
    margin: 0 5%;
    width: 90%;
  }
  .feat-project h2 {
    display: none;
  }
  .feat-project-text > .desc {
    margin: 0 5%;
    width: 90%;
  }
  .feat-project > .read-more {
    margin-left: 5%;
  }
  .logo {
    display: block;
    height: 132px;
    margin: 30px auto;
    position: unset;
    z-index: 1;
  }
  /* end homepage type styles */
  .feat-bg {
    background-image: url("../images/homepage/space-featBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    margin-bottom: 50px;
  }
  .feat-project img.screens-for-feat {
    width: 90%;
    position: relative;
    top: 0px;
    left: 5%;
  }
  .feat-project .feat-logo {
    opacity: 1;
    margin: 0 auto;
    padding: 10% 5%;
    width: 70%;
  }
  .feat-project .screens-for-feat-maslow {
    width: 90%;
    position: relative;
    top: 24px;
    left: 5%;
  }
  .feat-bg-maslow {
    margin-bottom: 40px;
  }
  .feat-bg {
    margin-bottom: 110px;
  }
  /***---------------------------------***/
  /***------ case study - mobile ------***/
  /***---------------------------------***/
  #feat-logo {
    opacity: 0;
  }
  .feat-logo {
    display: block;
  }
  img.feat-mobile-screen {
    position: relative;
    top: 130px;
    left: 5%;
    width: 90%;
  }
  .section-label,
  .textbox {
    width: 90%;
  }
  .num-list {
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.04rem;
  }
  .quote li {
    line-height: 22px;
  }
  .percent-desc {
    font-family: "PaulGrotesk-SemiBold";

    font-size: 12px;
    letter-spacing: 0.02rem;
    line-height: 18px;
  }
  .persona-l .caseStudy-text,
  .persona-r .caseStudy-text {
    line-height: 25px;
  }
  .half .caseStudy-text .persona-r {
    padding: 0px;
  }
  /* lines */
  .line {
    display: none;
  }
  .vertical-line {
    margin: 15px 5%;
    padding: 0;
  }
  .vertical-line .quote {
    margin-left: 30px;
  }
  /* end lines */ /* challenges insights and solutions */ /* Role deliverables and tools */
  /* moodboard */
  /* assumptions */ /* user research */
  h2.user-research {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .user-research {
    margin-left: 5%;
  }
  .user-research h3 {
    margin-top: 0;
  }
  .user-research .third {
    margin-top: 10px;
    width: 49%;
  }
  /* persona */
  .personas {
    margin: 0 5%;
  }
  .persona-l,
  .persona-r {
    padding: 0;
  } /* compentive analysis */
  /* user flows and user stories */
  /* branding */
  /* color pallete */
  .color-palette .caseStudy-text,
  .color-palette .half h4,
  .fonts .half h4,
  .fonts .half .caseStudy-text {
    padding: 0 0 15px 0;
  }
  /* low fedelity wireframes */
  /* A AND B TESTING  */ /* user testing video */ /* final product */
  .quarter {
    display: block;
    width: 100%;
  }
  .slider {
    display: block;

    width: 100%;
  }
  .slider img {
    width: 100%;
    margin: 0 auto;
  }
  .slideshow-controls {
    width: 30%;
    margin: 0 30%;
    position: unset;
  }
  .row-1,
  .row-2,
  .row-3,
  .row-4 {
    position: unset;
    top: 0;
    left: 0;
  }
  .smaller {
    max-width: 100%;
  }
  /*product features*/
  .prod-feat {
    display: block;
    margin: 0;
  }
  .prod-feat .left,
  .prod-feat .right {
    float: none;
  }
  .feat-2 {
    position: unset;
    top: 0;
  }
  .desc.feat-right {
    margin-left: 5%;
  }
  /* prototypes */ /* conclusion */
  .large-textbox {
    margin: 0;
    width: 100%;
  }
  /***----------------------------***/ /***------ About - mobile ------***/ /***----------------------------***/

  .about-social-nav {
    margin-top: 20px;
    width: 100%;
  }
  .about-social-nav li {
    display: inline-flex;
    margin: 0 4%;
  }
  .roles {
    display: block;
    width: 100%;
  }
  .roles li {
    padding: 6px;
  }
  .sidebar {
    display: block;
    width: 100%;
  } /***--------------------------***/
  /***- other projects section -***/
  /***--------------------------***/
  .project {
    width: 100%;
  }
  .other-projects {
    display: block;
    margin-top: 10px;
  }
  .middle-project {
    margin: 30px 0;
  } /***--------------------------***/ /***------mobile Footer ------***/
  /***--------------------------***/
  footer .middle-project {
    margin: 0 0 10px 0;
  }
  /* social media icons*/
  footer > div > ul.social-media > li {
    margin: 0 0px;
    padding: 0 6%;
    position: relative;
    left: -20px;
  }
  footer.large-footer {
    height: 350px;
  }
  /*.large-footer .project {
      display: inline-block;
        width:48%;
    }*/
  footer > div > p {
    display: block;
    padding: 0;
    width: 100%;
  }
  .large-footer > section > div .middle-project {
    width: 0;
  }
  .bottom {
    position: relative;
    bottom: 0px;
  }
}
@media screen and (max-width: 360px) {
  #menuToggle input:checked ~ ul {
    transform: translate(-845px, 0px);
  }
}
@media screen and (max-width: 330px) {
  #menuToggle input:checked ~ ul {
    transform: translate(-825px, 0px);
  }
}
