.intro {
  height: 100vh;
  min-height: 480px;
  font-size: 40px;
  position: relative;
  color: #fff;
  background: #fff;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  -ms-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

.intro__content {
  position: absolute;
  left: 50%;
  font-size: 18px;
  width: 1000px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
  max-width: 330px;
  top: 310px;
}
.intro__content p {
  position: absolute;
  text-align: left;
  letter-spacing: -0.02em;
  font-size: 55px;
  margin-top: -30px;
  margin-left: -356px;
  width: 1000px;
  line-height: 60px;
  top: -55px;
  color: #000000;
  padding-left: 5px;
}

.intro__link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-delay: 3s;
}
.intro__link img {
  width: 25px;
  height: 14px;
}
.intro__link i {
  position: relative;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 2s infinite;
}
.intro .animated {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s,
    -webkit-transform 0.5s;
}
.intro.animated-in .intro__link {
  opacity: 1;
  visibility: visible;
}

.intro p.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.intro p.animated {
  transition-delay: 1.2s !important;
  transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s, -webkit-transform 1s;
}
.intro h2.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(50);
  -ms-transform: translateY(0);
  transform: translateY(50);
  transition-delay: 0.6s;
  transition-duration: 2s;
}
.intro h4.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(50);
  -ms-transform: translateY(0);
  transform: translateY(50);
  transition-delay: 0.6s;
  transition-duration: 2s;
}

@media (max-width: 767px) {
  .intro__content {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 0;
    max-width: 400px;
  }

  .intro .animated {
    transition-delay: 0.3s;
  }

  .intro p.animated {
    transition-delay: 0.3s;
  }

  .intro__link {
    transition-delay: 2.5s;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .intro__content {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    color: #fff;
  }

  .intro__link img {
    margin-bottom: 10px;
  }

  .intro__content p {
    position: absolute;
    text-align: left;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    letter-spacing: -0.02em;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    margin-top: -80px;
    margin-left: 0px;
    width: 340px;
    line-height: 48px;
    font-weight: 300;
    top: -55px;
    color: #000000;
  }
}
