.tool-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  background-color: #000000;
}
.tool-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 122px;
  margin-bottom: 122px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tool-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 11px;
  margin-bottom: 22px;
  margin-left: 11px;
  padding: 15px 0px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #000;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.tool-item-block {
  min-width: 150px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
