*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

.section {
  padding: 67px 0 61px;
  min-height: 100vh;
  display: flex;
}

.section__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  min-width: 320px;
  background: #fff;
  font-family: "San Francisco Display", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}

h3 {
  font-size: 50px;
  letter-spacing: -0.032em;
}

@media (max-width: 767px) {
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 36px;
  }
}


a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}


h4 {
  font-size: 36px;
  letter-spacing: -0.055em;
}


blockquote:last-child {
  margin-bottom: 0;
}


.section__content > * {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  transition: visibility 1.2s, opacity 1.2s, -webkit-transform 1.2s;
  transition: transform 1.2s, visibility 1.2s, opacity 1.2s;
  transition: transform 1.2s, visibility 1.2s, opacity 1.2s,
    -webkit-transform 1.2s;
}

.section .section__content.animated-in > *,
.section .section__aside.animated-in {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.section .section__content.animated-in > h3 {
  transition-delay: 0.3s;
  margin-top: 100px;
  color: #000;
  font-size: 40px;
  margin-top: 10px;
  text-align: left;
  padding-left: 16px;
}

.section .section__content.animated-in .section__actions {
  transition-delay: 0.9s;
}

.section img {
  width: 100%;
  height: auto;
}

#contact {
  width: 10%;
  margin-top: 50px;
  border: 2px;
  padding-left: 18%;
  display: block;
  color: black;
  padding-left:0;
}

input {
  width: 250px;
  display: block;
  padding: 15px;
  padding-left: 10px;
  padding-right: 70px;
  margin: auto;
  margin-top: 5px;
  color: black;
}

textarea {
  width: 250px;
  display: block;
  padding: 50px;
  padding-left: 10px;
  padding-right: 70px;
  padding-top: 15px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
}

button {
  display: block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 7px;
  padding: 10px 40px;
  /* margin-left: 20%; */
  color: #fff;
  background-color: #000;
  width: 250px;
}

.shell {
  max-width: 1190px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

body {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #000;
}

.section__content {
  -webkit-flex: 0 0 500px;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  max-width: 500px;
  /* margin-top: auto; */
  padding-left: 51px;
}

element.style {
}
.section .section__content.animated-in > h3 {
  transition-delay: 0.3s;
  margin-top: 100px;
  color: #000;
  font-size: 40px;
  margin-top: 10px;
  text-align: left;
  padding-left: 16px;
}
.section .section__content.animated-in > *,
.section .section__aside.animated-in {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

h3 {
  font-size: 50px;
  letter-spacing: -0.032em;
}

.section .section__content.animated-in > * {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}
.section__content > p {
  transition-delay: 0.6s;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  max-width: 350px;
  padding-left: 16px;
  max-width: 400px;
}


.section p {
  margin-left: -3px;
  letter-spacing: -0.018em;
  max-width: 345px;
  margin-bottom: 24px;
  color: #000;
  font-size: 16px;
  max-width: 550px;
}

.section__content {
  -webkit-flex: 0 0 500px;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  max-width: 500px;
  padding-left: 51px;
}

.section .section__btn {
  margin-left: -4px;
}

.section .section__content.animated-in > *,
.section .section__aside.animated-in {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.section .section__content.animated-in > h3 {
  transition-delay: 0.3s;
  margin-top: 100px;
  color: #000;
  font-size: 70px;
  margin-top: 10px;
  text-align: left;
  padding-left: 16px;
}

.section__content > p {
  transition-delay: 0.6s;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  max-width: 350px;
  padding-left: 16px;
  max-width: 550px;
}

.section .section__content.animated-in .section__actions {
  transition-delay: 0.9s;
}

.section img {
  width: 100%;
  height: auto;
}

.section h3 {
  margin-left: -4px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  color: #000;
}


@media (max-width: 414px) {
  .section h3 {
    margin-left: -4px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    width: 360px;
  }

  .section p {
    margin-left: -4px;
    letter-spacing: -0.018em;
    max-width: 300px;
    margin-bottom: 24px;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
  }

  .section img {
    width: 95%;
    height: auto;
  }
  #contact {
    padding-left: 7%;
    margin-left
  }
  .section .section__content.animated-in > h3 {
    transition-delay: 0.3s;
    margin-top: 100px;
    color: #000;
    font-size: 40px;
    margin-top: 10px;
    text-align: left;
    padding-left: 16px;
  }

   .section__content > p {
    transition-delay: 0.6s;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    max-width: 350px;
    padding-left: 16px;
  }

  button {
    margin-left: 40px;
    margin-right: 40px;
  }
.nav a {
  color: #000;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 0px;
  
}
}


.section--reverse .section__inner {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}


.section__content {
  -webkit-flex: 0 0 550px;
  -ms-flex: 0 0 550px;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: -3%;
  margin-left: -25%;
  margin-right: -10%;
}



.section--purple {
  background-image: #fff;
}


@media (max-width: 1200px) {



.section__content {
    margin-top: 0;
    margin-left: 0;
  }
 
}
@media (max-width: 767px) {
  .section {
    padding-top: 44px;
    padding-bottom: 41px;
    font-size: 14px;
    text-align: center;
  }

  .section [class*="logo"] {
    margin: 0 auto;
  }

  .section img {
    display: block;
  }

  .section h3 {
    margin-top: 17px;
    margin-bottom: 12px;
  }

  .section p {
    max-width: 95%;
    margin-bottom: 26px;
    margin-left: 0;
  }

  .section__inner {
    display: block;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section__content {
    padding-left: 15%;
    font-size: 16px;
  }

  .section--primary .section__content {
    padding: 0 29px 42px;
  }

  .section--secondary .section__content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 35px;
  }

  #contact {
    padding-left: 95px;
  }

}

@media (max-width: 414px) {

  .section .section__content {
    padding-left: 0;
    padding-right: 0;
    margin-top: 70px;
  }

  .section p {
    padding-left: 0;
    padding-right: 0;
  }
  
  #contact {
        margin-left: 0;
        padding-left: 0;
      }
}